.footer {
	margin: 60px 0 0;
	border-top: 1px solid #A7C3CF;
	padding: 18px 0 80px;
}
/*----------------------------------------------------------------------------------*/
/*------------------------------------COPYRIGHT-------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer>p {
	float: right;
	font-size: 11px;
	color: #A7C3CF;
}

/*----------------------------------------------------------------------------------*/
/*-----------------------------------NAVIGATION-------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer .navigation {
	overflow: hidden;
}
.footer .navigation li {
	padding: 0 21px 0 0;
}
.footer .navigation a{
	font-size: 11px;
}
.footer .navigation .active a {
	color: #F85B4E;
}