body {
	background: url(../images/header-bg.jpg) 0 -334px repeat-x;
}
.main {
	background: url(../images/header-bg.jpg) top left repeat-x;
}

.wrapper {
	width: 900px;
	margin: 0 auto;
	min-height: 100%;
}